body {
	font-family: 'Fira Mono', monospace;
	font-size: 16px;
	line-height: 1.8;
	margin: 0;
}

#tools {
	background: #FAFAFA;
	border-top: 1px solid #EEE;
	bottom: 0;
	padding: 20px;
	position: fixed;
	width: 100%;
}

#tools button {
	background: #9C9;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 4px #7A7;
	color: white;
	cursor: pointer;
	font-family: 'Fira Mono';
	font-size: 15px;
	height: 40px;
	letter-spacing: 1px;
	min-width: 90px;
	outline: 0;
	position: relative;
}

#tools button:hover {
	box-shadow: 0 5px #7A7;
	top: -1px;
}

#tools button:active {
	background: #90C090;
	box-shadow: 0 2px #7A7;
	top: 3px;
}

#output {
	border: 1px solid rgba(0, 0, 0, .4);
	margin: 20px;
	padding: 20px;
}

.output-line {
	padding: 10px 0;
}

.output-line:not(:last-child) {
	border-bottom: 1px solid #DDD;
}

.output-column {
	display: inline-block;
	margin: 0;
}

.output-line .output-column:not(:last-child) {
	margin-right: 20px;
}

.string {
	color: #393;
}

.number {
	color: #33D;
}

.boolean {
	color: #933;
}

.undefined, .null {
	color: #999;
	font-style: italic;
}

.symbol {

}
